body {
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
ul,
ol {
  list-style-type: none;
}
a {
  text-decoration: none;
}
/* Header */
/*Logo*/
.top-navigate-logo {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}
.top-logo-word {
  color: #4d5ae5;
}
/*Navigation*/
.navigation-link {
  color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.navigation-link:hover,
.navigation-link:focus {
  color: #4d5ae5;
}

/*Contact*/

.contact-list-link {
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.contact-list-link:hover,
.contact-list-link:focus {
  color: #404bbf;
}

/* Main*/
/* First section Article*/
.article {
  background-color: #2e2f42;
}
.article-title {
  color: #ffffff;
  font-size: 56px;
  text-align: center;
  line-height: 1.07143;
  letter-spacing: 0.02em;
}

.article-interactive {
  cursor: pointer;
  color: #ffffff;
  background-color: #4d5ae5;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
.article-interactive:hover {
  background-color: #404bbf;
}

/*Second section Benefits*/
.benefits-list-title {
  font-size: 20px;
  color: #2e2f42;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.benefits-list-text {
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* Third section Team*/
.team {
  background-color: #f4f4fd;
}
.team-title {
  font-size: 36px;
  color: #2e2f42;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
}
.team-cards-item {
  background-color: #ffffff;
}
.team-cards-name {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
}
.team-cards-text {
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

/*Footer*/
.bottom {
  background-color: #2e2f42;
}
.bottom-logo {
  font-family: 'Raleway', sans-serif;
  color: #f4f4fd;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.bottom-logo-word {
  color: #4d5ae5;
}

.bottom-text {
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
